* {
    box-sizing: content-box;
}

body {
    background-color: rgb(30, 29, 29);
    color: white;
    margin: 0;
    font-family: sans-serif;
}

.content-nav {
    background-color: black;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid;
}

.content-nav nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.content-nav nav ul li a {
    text-decoration: none;
    margin: 30px;
    color: white;
    font-weight: bold;
}

.about-me-cover {
    background-image: url("image/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1260px;
    max-width: 90%;
    padding: 60px 30px;
    margin: 70px auto;
    border-radius: 10px;
    border: 5px solid rgb(158, 158, 158);
}

.prof-img {
    float: right;
    margin-right: 70px;
    margin-top: 30px;
}

.prof-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(81, 79, 79);
    border-width: 5px;
    object-fit: cover;
}

.about-me-cover h3 {
    margin-left: 72px;
}

.about-me-cover span {
    color: gray;
}

.about-me-cover h1 {
    margin-left: 70px;
    text-decoration: underline;
    text-decoration-color: gray;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.about-me-cover p {
    width: 50%;
    margin-top: 30px;
    margin-left: 70px;
    line-height: 30px;
    word-spacing: 1px;
    text-align: justify;
}

.socials {
    display: flex;
    margin-left: 65px;
    margin-top: 25px;
    gap: 50px;
}

.socials img {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: rgb(158, 158, 158);
    border-radius: 40px;
    border-width: 5px;
}

.my-education {
    width: 1260px;
    max-width: 90%;
    margin: 70px auto;
}

#h3-educ {
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 20px;
    padding: 8px;
}

.dyci {
    text-align: center;
    margin-top: 120px;
    width: 50%;
    height: 180px;
    margin-left: 450px;
}

.dyci-img {
    float: left;
    margin-top: 80px;
    margin-left: 100px;
}

.dyci-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.dyci h3, .bmsi h3, .marcelo h3 {
    padding: 5px;
    background-color: black;
    border-radius: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
}

.marcelo {
    text-align: center;
    margin-top: 160px;
    width: 50%;
    height: 180px;
    margin-left: auto;
    margin-right: 450px;
}

.marcelo-img {
    float: right;
    margin-top: 140px;
    margin-right: 100px;
}

.marcelo-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.bmsi {
    text-align: center;
    margin-top: 160px;
    width: 50%;
    height: 180px;
    margin-left: 450px;
    margin-bottom: 150px;
}

.bmsi-img {
    float: left;
    margin-top: 145px;
    margin-left: 100px;
}

.bmsi-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.dyci p, .marcelo p, .bmsi p {
    width: 82%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    text-align: justify;
    line-height: 25px;
    word-spacing: 1px;
}

.my-certification {
    width: 1260px;
    max-width: 90%;
    margin: 70px auto;
}

#h3-cert {
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 20px;
    padding: 8px;
}

.certification {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.certification div {
    margin-top: 50px;
    text-align: center;
}

.certification div img {
    width: 300px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.interests-cover {
    background-image: url("image/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1260px;
    max-width: 90%;
    padding: 139px 30px;
    margin: 70px auto;
    border-radius: 10px;
    border: 5px solid rgb(158, 158, 158);
}

.interests-img {
    float: right;
    margin-right: 70px;
    margin-top: -49px;
}

.interests-img img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(81, 79, 79);
    border-width: 5px;
    object-fit: cover;
}

.interests-cover p {
    width: 50%;
    margin-top: 30px;
    margin-left: 70px;
    line-height: 30px;
    word-spacing: 1px;
    text-align: justify;
}

.my-interests-personal {
    width: 1260px;
    max-width: 90%;
    margin: 70px auto;
}

#h3-inter {
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 20px;
    padding: 8px;
}

.interests-personal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.interests-personal div {
    margin-top: 50px;
    text-align: center;
}

.interests-personal div img {
    width: 270px;
    height: 250px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.my-interests-career {
    width: 1260px;
    max-width: 90%;
    margin: 70px auto;
}

.interests-career {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.interests-career div {
    grid-column: span 2;
    margin-top: 50px;
    text-align: center;
}

.interests-career div:nth-child(4) {
    grid-column: 2 / span 2;
}

.interests-career div:nth-child(5) {
    grid-column: 4 / span 2;
}

.interests-career div img {
    width: 270px;
    height: 250px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.goals-cover {
    background-image: url("image/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1260px;
    max-width: 90%;
    padding: 124px 30px;
    margin: 70px auto;
    border-radius: 10px;
    border: 5px solid rgb(158, 158, 158);
}

.goals-img {
    float: right;
    margin-right: 70px;
    margin-top: -34px;
}

.goals-img img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(81, 79, 79);
    border-width: 5px;
}

.goals-cover p {
    width: 50%;
    margin-top: 30px;
    margin-left: 70px;
    line-height: 30px;
    word-spacing: 1px;
    text-align: justify;
}

.my-goals {
    width: 1260px;
    max-width: 90%;
    margin: 70px auto;
}

#h3-goals {
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 20px;
    padding: 8px;
}

.travelling {
    text-align: center;
    margin-top: 120px;
    width: 45%;
    height: 180px;
    margin-left: 450px;
}

.travelling-img {
    float: left;
    margin-top: 80px;
    margin-left: 100px;
}

.travelling-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.travelling h3, .stable-life h3,
.business h3, .house h3,
.provider h3 {
    padding: 5px;
    background-color: black;
    border-radius: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
}

.stable-life {
    text-align: center;
    margin-top: 160px;
    width: 45%;
    height: 180px;
    margin-left: auto;
    margin-right: 450px;
}

.stable-img {
    float: right;
    margin-top: 140px;
    margin-right: 100px;
}

.stable-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.business {
    text-align: center;
    margin-top: 160px;
    width: 45%;
    height: 180px;
    margin-left: 450px;
}

.business-img {
    float: left;
    margin-top: 145px;
    margin-left: 100px;
}

.business-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.house {
    text-align: center;
    margin-top: 160px;
    width: 45%;
    height: 180px;
    margin-left: auto;
    margin-right: 450px;
}

.house-img {
    float: right;
    margin-top: 140px;
    margin-right: 100px;
}

.house-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.provider {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 150px;
    width: 45%;
    height: 180px;
    margin-left: 450px;

}

.provider-img {
    float: left;
    margin-top: 145px;
    margin-left: 100px;
}

.provider-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.travelling p, .stable-life p,
.business p, .house p,
.provider p {
    width: 82%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    text-align: justify;
    line-height: 25px;
    word-spacing: 1px;
}

.skills-cover {
    background-image: url("image/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1260px;
    max-width: 90%;
    padding: 139px 30px;
    margin: 70px auto;
    border-radius: 10px;
    border: 5px solid rgb(158, 158, 158);
    object-fit: cover;
}

.skills-img {
    float: right;
    margin-right: 70px;
    margin-top: -49px;
}

.skills-img img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(81, 79, 79);
    border-width: 5px;
    object-fit: cover;
}

.skills-cover p {
    width: 50%;
    margin-top: 30px;
    margin-left: 70px;
    line-height: 30px;
    word-spacing: 1px;
    text-align: justify;
}

.my-skills-career {
    width: 1260px;
    max-width: 90%;
    margin: 70px auto;
}

#h3-skills {
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 20px;
    padding: 8px;
}

.skills-career {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skills-career div {
    margin-top: 50px;
    text-align: center;
}

.skills-career div img {
    width: 270px;
    height: 250px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.my-skills-technical {
    width: 1260px;
    max-width: 90%;
    margin: 70px auto;
}

.skills-technical {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.skills-technical div {
    grid-column: span 2;
    margin-top: 50px;
    text-align: center;
}

.skills-technical div:nth-child(4) {
    grid-column: 2 / span 2;
}

.skills-technical div:nth-child(5) {
    grid-column: 4 / span 2;
}

.skills-technical div img {
    width: 270px;
    height: 250px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.contacts-cover {
    background-image: url("image/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1260px;
    max-width: 90%;
    padding: 139px 30px;
    margin: 70px auto;
    border-radius: 10px;
    border: 5px solid rgb(158, 158, 158);
}

.contacts-img {
    float: right;
    margin-right: 70px;
    margin-top: -49px;
}

.contacts-img img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(81, 79, 79);
    border-width: 5px;
    object-fit: cover;
}

.contacts-cover p {
    width: 50%;
    margin-top: 30px;
    margin-left: 70px;
    line-height: 30px;
    word-spacing: 1px;
    text-align: justify;
}

.my-contacts {
    width: 1260px;
    max-width: 90%;
    margin: 70px auto;
}

#h3-contacts {
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 20px;
    padding: 8px;
}

.contacts-personal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contacts-personal div {
    margin-top: 50px;
    text-align: center;
}

.contacts-personal div img {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.my-socials {
    width: 1260px;
    max-width: 90%;
    margin: 78px auto;
}

#h3-socials {
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 20px;
    padding: 8px;
}

.social-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.social-media div {
    margin-top: 50px;
    text-align: center;
}

.social-media div img {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
    object-fit: cover;
}

.footer-side {
    text-align: center;
    background-color: black;
    color: white;
    padding: 8px 20px;
    margin-top: 50px;
    border-top: 2px solid;
}