* {
    box-sizing: content-box;
}

body {
    background-color: rgb(30, 29, 29);
    color: white;
    margin: 0;
    font-family: sans-serif;
}

.content-nav {
    text-align: center;
    background-color: black;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid;
}

.content-nav nav ul li {
    display: inline;
}

.content-nav ul li a {
    text-decoration: none;
    margin: 30px;
    color: white;
    font-weight: bold;
}

.about-me-cover {
    background-image: url("image/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1260px;
    max-width: 90%;
    padding: 60px 30px;
    margin: 70px auto;
    border-radius: 10px;
    border: 5px solid rgb(158, 158, 158);
}

.prof-img {
    float: right;
    margin-right: 70px;
    margin-top: 30px;
}

.prof-img img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(81, 79, 79);
    border-width: 5px;
}

.about-me-cover h3 {
    margin-left: 72px;
}

.about-me-cover span {
    color: gray;
}

.about-me-cover h1 {
    margin-left: 70px;
    text-decoration: underline;
    text-decoration-color: gray;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.about-me-cover p {
    width: 50%;
    margin-top: 30px;
    margin-left: 70px;
    line-height: 30px;
    word-spacing: 1px;
    text-align: justify;
}

.my-education {
    width: 1260px;
    max-width: 90%;
    margin: 70px auto;
}

#h3-educ {
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 20px;
    padding: 8px;
}

.dyci {
    text-align: center;
    margin-top: 120px;
    width: 50%;
    height: 180px;
    margin-left: 450px;
}

.dyci-img {
    float: left;
    margin-top: 80px;
    margin-left: 100px;
}

.dyci-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.dyci h3, .bmsi h3, .marcelo h3 {
    padding: 5px;
    background-color: black;
    border-radius: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
}

.marcelo {
    text-align: center;
    margin-top: 160px;
    width: 50%;
    height: 180px;
    margin-left: auto;
    margin-right: 450px;
}

.marcelo-img {
    float: right;
    margin-top: 140px;
    margin-right: 100px;
}

.marcelo-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.bmsi {
    text-align: center;
    margin-top: 160px;
    width: 50%;
    height: 180px;
    margin-left: 450px;
    margin-bottom: 150px;
}

.bmsi-img {
    float: left;
    margin-top: 145px;
    margin-left: 100px;
}

.bmsi-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.dyci p, .marcelo p, .bmsi p {
    width: 82%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    text-align: justify;
    line-height: 25px;
    word-spacing: 1px;
}

.my-interests {
    margin-top: 80px;
}

#h3-inter {
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    text-align: center;
    margin-top: 90px;
}

.my-interests p {
    text-align: center;
    margin-top: 80px;
}

.first-set-interests, .second-set-interests {
    background-color: rgb(57, 56, 56);
    width: 50%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
}

.first-set-interests h3, .second-set-interests h3 {
    text-align: center;
    margin-top: 90px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
}

.first-set-interests ul {
    margin-left: 80px;
    margin-top: 10px;
    line-height: 30px;
    display: inline-block;
}

.second-set-interests ul {
    margin-left: 70px;
    margin-top: 10px;
    line-height: 30px;
    display: inline-block;
}

.goals-cover {
    background-image: url("image/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1260px;
    max-width: 90%;
    padding: 125px 30px;
    margin: 70px auto;
    border-radius: 10px;
    border: 5px solid rgb(158, 158, 158);
}

.goals-img {
    float: right;
    margin-right: 70px;
    margin-top: -35px;
}

.goals-img img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(81, 79, 79);
    border-width: 5px;
}

.goals-cover p {
    width: 50%;
    margin-top: 30px;
    margin-left: 70px;
    line-height: 30px;
    word-spacing: 1px;
    text-align: justify;
}

.my-goals {
    width: 1260px;
    max-width: 90%;
    margin: 70px auto;
}

#h3-goals {
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 20px;
    padding: 8px;
}

.travelling {
    text-align: center;
    margin-top: 120px;
    width: 45%;
    height: 180px;
    margin-left: 450px;
}

.travelling-img {
    float: left;
    margin-top: 80px;
    margin-left: 100px;
}

.travelling-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.travelling h3, .stable-life h3,
.business h3, .house h3,
.provider h3 {
    padding: 5px;
    background-color: black;
    border-radius: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
}

.stable-life {
    text-align: center;
    margin-top: 160px;
    width: 45%;
    height: 180px;
    margin-left: auto;
    margin-right: 450px;
}

.stable-img {
    float: right;
    margin-top: 140px;
    margin-right: 100px;
}

.stable-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.business {
    text-align: center;
    margin-top: 160px;
    width: 45%;
    height: 180px;
    margin-left: 450px;
}

.business-img {
    float: left;
    margin-top: 145px;
    margin-left: 100px;
}

.business-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.house {
    text-align: center;
    margin-top: 160px;
    width: 45%;
    height: 180px;
    margin-left: auto;
    margin-right: 450px;
}

.house-img {
    float: right;
    margin-top: 140px;
    margin-right: 100px;
}

.house-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.provider {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 150px;
    width: 45%;
    height: 180px;
    margin-left: 450px;

}

.provider-img {
    float: left;
    margin-top: 145px;
    margin-left: 100px;
}

.provider-img img {
    width: 230px;
    height: 220px;
    border-radius: 20px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.travelling p, .stable-life p,
.business p, .house p,
.provider p {
    width: 82%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    text-align: justify;
    line-height: 25px;
    word-spacing: 1px;
}

.my-skills {
    margin-top: 80px;
}

#h3-skills {
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    margin-top: 90px;
    text-align: center;
}

.my-skills p {
    text-align: center;
}

.first-set-skills {
    background-color: rgb(57, 56, 56);
    width: 60%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
}

.second-set-skills {
    background-color: rgb(57, 56, 56);
    width: 60%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
}

.first-set-skills h3 {
    text-align: center;
    margin-top: 90px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
}

.second-set-skills h3 {
    text-align: center;
    margin-top: 90px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
}

.first-set-skills ul {
    margin-left: 90px;
    margin-top: 10px;
    line-height: 30px;
    display: inline-block;
}

.second-set-skills ul {
    margin-left: 90px;
    margin-top: 10px;
    line-height: 30px;
    display: inline-block;
}

#ul-first-skills-2 {
    margin-left: 130px;
}

#ul-second-skills-2 {
    margin-left: 110px;
}

.contacts-cover {
    background-image: url("image/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1260px;
    max-width: 90%;
    padding: 140px 30px;
    margin: 70px auto;
    border-radius: 10px;
    border: 5px solid rgb(158, 158, 158);
}

.contacts-img {
    float: right;
    margin-right: 70px;
    margin-top: -50px;
}

.contacts-img img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(81, 79, 79);
    border-width: 5px;
}

.contacts-cover p {
    width: 50%;
    margin-top: 30px;
    margin-left: 70px;
    line-height: 30px;
    word-spacing: 1px;
    text-align: justify;
}

.my-contacts {
    width: 1260px;
    max-width: 90%;
    margin: 70px auto;
}

#h3-contacts {
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 20px;
    padding: 8px;
}

.email {
    text-align: center;
    margin-top: 120px;
    width: 45%;
    height: 180px;
    margin-left: 450px;
}

.email-img {
    float: left;
    margin-top: 70px;
    margin-left: 160px;
}

.email-img img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.email h3, .phone-number h3,
.facebook h3, .instagram h3,
.messenger h3 {
    padding: 5px;
    background-color: black;
    border-radius: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
}

.phone-number {
    text-align: center;
    margin-top: 100px;
    width: 45%;
    height: 180px;
    margin-left: 450px;
}

.phone-img {
    float: left;
    margin-top: 70px;
    margin-left: 160px;
}

.phone-img img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.my-socials {
    width: 1260px;
    max-width: 90%;
    margin: 78px auto;
}

#h3-socials {
    text-align: center;
    font-size: 25px;
    background-color: black;
    border-top: 2px solid rgba(255, 255, 255, 0.596);
    border-bottom: 2px solid rgba(255, 255, 255, 0.596);
    border-right: 2px solid rgba(255, 255, 255, 0.596);
    border-left: 2px solid rgba(255, 255, 255, 0.596);
    border-radius: 20px;
    padding: 8px;
}

.facebook {
    text-align: center;
    margin-top: 120px;
    width: 45%;
    height: 180px;
    margin-left: auto;
    margin-right: 450px;
}

.facebook-img {
    float: right;
    margin-top: 70px;
    margin-right: 160px;
}

.facebook-img img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.instagram {
    text-align: center;
    margin-top: 100px;
    width: 45%;
    height: 180px;
    margin-left: auto;
    margin-right: 450px;
}

.instagram-img {
    float: right;
    margin-top: 80px;
    margin-right: 160px;
}

.instagram-img img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.messenger {
    text-align: center;
    margin-top: 100px;
    width: 45%;
    height: 180px;
    margin-left: auto;
    margin-right: 450px;
}

.messenger-img {
    float: right;
    margin-top: 80px;
    margin-right: 160px;
}

.messenger-img img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border-color: rgb(81, 79, 79);
    border-style: solid;
    border-width: 5.5px;
}

.phone-number p, .facebook p,
.email p, .instragram p,
.messenger p {
    width: 82%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    line-height: 25px;
    word-spacing: 1px;
}

.footer-side {
    text-align: center;
    background-color: black;
    color: white;
    padding: 8px 20px;
    margin-top: 50px;
    border-top: 2px solid;
}